.NavbarContainer{
    height:50px;
    width: 100%;
    min-width: 700px;
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    box-shadow: 0 1px 20px 2px lightgray;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
    position: fixed;
}
.NavbarContentDiv{
    height:100%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.IconDiv{
    padding: 10px;
}
.IconDiv:hover{
    cursor: pointer;
    background-color: #f7f7f8;
}
.Icon{
    color: #9d9d9f;
}
.IconSelected{
    color:#a82723; 
}
.searchBox{
    width: 25%;
    min-width: 20%;
    padding: 5px 15px;
    position: relative;
}
.searchInput{
    width: 80%;
    height: 30px;
    padding-left: 50px ;
    border: 1px solid #9d9d9f;
    border-radius: 3px;
    outline: none;
    position: relative;
}
.searchInput:hover{
    border-color: #2e69ff;
    box-shadow: #f7f7f8;
}
.searchInput:focus{
    border-color: #2e69ff;
    box-shadow: #f7f7f8;
}
.profilePicture{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.profilePicture:hover{
    cursor: pointer;
    background-color: #f7f7f8;
    opacity: 0.8;
}
.addQuestion{
    font-size: smaller;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 7px 25px;
    background-color: #a82723;
    color: white;
}
.addQuestion:hover{
    cursor: pointer;
    background-color: #991713;
}
.profileDropDown{
    height:200px;
    width: 230px;
    background-color: white;
    position: absolute;
    top:60px;
    right: 18%;
    border:1px solid transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}
.profileDropDown::before{
    content: '';
    border: 10px solid transparent;
    border-bottom: 10px solid white;
    margin-left: 45%;
    margin-top: -8%;
    display: inline;
    position: absolute;
    vertical-align: top;
}
.dropDownProfilePic{
    width: 100%;
    height: 70%;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
    padding:10px 10px;  
    cursor: pointer; 
}
.dropDownProfilePic:hover{
    opacity: 0.7;
}
.dropDownItems{
    height: 50%;
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.dropDownItemsItem{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    cursor: pointer; 
}
.dropDownItemsItem:hover{
    background-color: #e6e7e8;
}
@media screen and (max-width: 950px){
    .NavbarContentDiv{
        width: 100%;
    }
}

@media screen and (max-width: 640px){
    .NavbarContentDiv{
        width: 100%;
    }
    .addQuestion{
        padding: 3px 10px;
    }
    
    .searchBox{
        width: 10%;
    }
}